
/*******************************************************************************
This is the actual "ligtbox" or container that holds all of the content
*******************************************************************************/
#custom_widget_content {
	overflow: hidden;
	display: none;
	background: #fff;
	width: 600px;	
	padding: 0px 10px 10px !important;
	position: fixed;
	top: 0;
	z-index:9999;
	padding: 10px 10px;
	border: 10px solid #E0CF14;
	font-family: Arial, sans-serif;
	border-radius: 0px;
	-moz-border-radius: 0px;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	box-shadow: 0px 0px 45px #000;
	-moz-box-shadow: 0px 0px 45px #000;
}
	
	
	#cw_form_container h1, #cw_form_container h2 {
		font-size: 22px;
		letter-spacing: 0px;
		font-weight:bold;
		margin: 0 0 15px 0;
		padding: 0 0 5px;
		border-bottom: 1px solid #ccc;
	}
	
	#cw_form_container p {
		font-family: Arial, sans-serif;	
		font-size: 13px;
		line-height: 17px;
		margin: 0 0 20px 0;
	}
	
	#cw_form_container a { color: #C9663E; }
	#cw_form_container a:hover { color: #1B52AC; text-decoration:none; }
	
	#cw_form_container span.access_key {
		background: #FFF1A8;
		padding: 5px;
	}
	
	#cw_form_container p#view_ticket {
		background: #f5f5f5;
		border: 1px solid #ccc;
		padding: 10px;
		
	}
	
	.cw_form.loading, #custom_widget_content.loading {
			background-image: url(images/form-loading.gif) !important;
			background-repeat: no-repeat !important; 
			background-position: 50% 50% !important;
	}
	
/*******************************************************************************
The Close button
*******************************************************************************/
a#custom_widget_close {
	display: inline-block;
	width: 23px;
	height: 23px;
	position: absolute;
	top: -3px;
	right: -3px;
	text-indent: -9999px;
	background: #E0CF14 url(images/close.gif) no-repeat 50% 50%;
	border-radius: 5px;
	-moz-border-radius: 5px;
}